.learn_react_wrap {
    .react_case {
        margin-top: 40px;
    }
    .react_list {
        width: 100%;
    }
}

.react_tutorial_list_item {
    border-bottom: 1px solid #f3f3f3;
    padding: 50px 0 50px 0;
    &:last-child {
        border-bottom: none;
    }
    .body {

        display: flex;
    }
    .img {
        width: 150px;
        height: 150px;
        margin-right: 30px;
    }
    .content {
        flex: 1;
        .title {
            color: #333;
            font-weight: bold;
            font-size: 18px;
        }
        .star {
            margin-top: 15px;
        }
        .desc {
            margin-top: 30px;
        }
        .know_more {
            margin-top: 40px;
            font-size: 12px;
            height: 35px;
            padding: 0 16px;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            border-radius: 40px;
        }
        .xiangqing {
            margin-right: 10px;
        }
    }
}
