$border-color: #f4f5f7;

.key_pass {
    width: 375px;
    height: 667px;
    margin: 30px auto;
    background: #FFF;
    overflow-y: auto;

    &_header {
        height: 100px;
        border-bottom: 1px solid $border-color;
        text-align: center;
        font-size: 16px;
        line-height: 100px;
    }

    &_body {
        display: flex;
        flex-wrap: wrap;
    }
    .class_item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 160px;
        border-bottom: 1px solid $border-color;
        font-size: 12px;
        &:nth-of-type(2n + 1) {
            border-right: 1px solid $border-color;
        }
    }

    .icon_wrap {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 20px;
        text-align: center;
        line-height: 50px;
    }

    .icon {
        font-size: 18px;
    }
}
