@font-face {
  font-family: 'iconfont';  /* project id 339254 */
  src: url('//at.alicdn.com/t/font_7swv92qazp1ll3di.eot');
  src: url('//at.alicdn.com/t/font_7swv92qazp1ll3di.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_7swv92qazp1ll3di.woff') format('woff'),
  url('//at.alicdn.com/t/font_7swv92qazp1ll3di.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_7swv92qazp1ll3di.svg#iconfont') format('svg');
}
