@import "./var.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $bodycolor;
    font-family: $fonts;
    color: $fontcolor;
    font-size: 14px;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #939393;
}
