@import "../../styles/var.scss";
@import '../../styles/common.scss';

.diashboard-main {
    width: $width;
    margin: 0 auto;

    .main-cards {
        margin-top: 40px;
    }

    .card {
        width: 460px;
        min-height: 200px;
        background-color: #FFF;
        margin-bottom: 40px;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
}
