@import "../../styles/var.scss";
@import '../../styles/common.scss';

header {
    background-color: #FFFFFF;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;

    .main {
        width: $width;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        font-size: 18px;
        margin-left: 16px;
        position: relative;
        color: #2d2d2d;
    }

    .profile {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        &:after {
            content: '\e600';
            font-family: "iconfont";
        }
    }
}
