.image-wrap {
    width: 300px;
    height: 225px;
    overflow: hidden;
    position: relative;
    background-color: #f3f3f3;
    /* opacity: 0; */
}
.image-wrap div {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.fade-in {
        animation-name: fadein;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes fadein {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
